.calculator{
    height: 600px;
    width: 100%s;
    min-width: 100%;
    background: violet;
    box-sizing: border-box;
}
.screan{
    height: 150px;
    background: wheat;
    text-align: end;
    z-index: 1;
    position: relative;

}
.history{
    font-size: 15px;
}
.keyboard{
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    background: yellowgreen;
    height: 540px;
    width: 100%;
    position: relative;
    top: 60px;
    margin: 0 auto;
    
}
button{
    margin: 15px;
    padding: 7.64%;
    border-radius: 50%;
    outline: none;
    
}
@media screan and (max-width: 1400px){
    button{
        padding: 25%;
    }
} 