*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: crimson;
}
#container{
    background: brown;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}
#calculator{
    background: cornsilk;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 6px;
}
#result{
    height: 120px;
    background: cyan;
}
#history{
    display: flex;
    justify-content: flex-end;
}
#input{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 80%;
    font-size: 30px;
}
#keyboard{
    height: 500px;
    background: yellow;
    display: block;
    
}
.number, .operator{
    border-radius: 50%;
    padding: 30px;
    margin: 5px;
}